body {
    background-color: #101010;
}

@font-face {
    font-family: 'Ubuntu Regular';
    src: url('../assets/Ubuntu-Regular.ttf') format('truetype');
}

.slide-container {
    font-family: 'Ubuntu Regular', sans-serif;
    text-align: center;
    color: white;
}

.slide {}

.avatar-container {
    position: relative;
}

.avatar-container>img {
    width: 250px;
    margin: 25px;
}

.title-container {
    position: relative;
}

.links-container {
    display: table;
    margin: 0 auto;
}

.links-container>ul {
    width: 100%;
    display: flex;
    list-style: none;
    padding-left: 0;
}

.links-container>ul>li {
    position: relative;
    opacity: 1;
    display: inline-block;
    float: none;
    padding: 10px;
}

.links-container-main>ul>li {
    width: 130px;
}

.projects-container>hr {
    opacity: 1;
    width: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    color: #303030;
}

.projects-container>h3 {
    opacity: 1;
}

.projects-container>ul {
    list-style: none;
    padding-left: 0;
}

.projects-container>ul>li {
    position: relative;
    opacity: 1;
}

a.social {
    font-size: 14pt;
    color: #aaa;
    text-decoration: none;
}

a.social:link,
a.social:visited,
a.social:active {
    color: #aaa;
    text-decoration: none;
}

a.social:hover {
    color: white;
    text-decoration: none;
    transform: scale(1.1);
    transition: linear 0.1s;
}

a.project {
    font-size: 10pt;
    color: #aaa;
    text-decoration: underline;
}

a.project:link,
a.project:visited,
a.project:active {
    color: #aaa;
    text-decoration: underline;
}

a.project:hover {
    color: white;
    text-decoration: underline;
    transition: linear 0.1s;
}

a.button {
    font-weight: bold;
    padding: 10px;
    display: block;
    background-color: #080808;
    border-radius: 7px;
    border-color: #222;
    border-style: solid;
    border-width: 1px;
    box-shadow: black 0px 3px;
    color: white;
    text-decoration: none;
}

a.button:hover {
    background-color: #151515;
    transform: scale(1.1);
    transition: linear 0.1s;
}

.tooltip {
    z-index: 100;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
}

.too
